Source: ros-kinetic-ros-drake
Section: misc
Priority: extra
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-ros-drake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Provides a cmake config for the DRAKE toolbox http://drake.mit.edu/
